.bg-body-tertiary {
  background-color: transparent !important;
}

.navbar-collapse {
  flex-grow: 0;
}

/* 下拉菜单样式 */
.dropdown-menu {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  font-size: 14px;
  color: #333;
  padding: 8px 16px;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #00a4ff;
}